div.content
    div.row
        div.span12
            h2 Add a new test doc
            p 
              form(name='form-testdoc', method='POST', action='/posts').form
                input(type='hidden', name='_method', value='POST')
                label Name:
                input(name='doc', type='text', id='doc')
                label Type:
                input(name='doc', type='text', id='type')
                label Description:
                input(name='doc', type='text', id='descr')
                label In Support of:
                input(name='doc', type='text', id='support')
                span.help-block Enter Cause Details
                button(type='submit').btn Submit
                  